{% load static %}
<!DOCTYPE html>
<html>
    <head></head>
    <body>
        Success
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        
      //  $(document).ready(
      //   function(){
      //      $.ajax({
                    
      //               url:"/mark_your_attendance",
      //                     });
      //       $.ajax({
      //                url:"/mark_your_attendance_out",
      //                     });
      //   }); 
    </script>
    </body>
    
</html>