
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Raleway&family=Sansita+Swashed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,900;1,100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@font-face
{
  font-family: 'jack-frost';
  src:url('../fonts/jack-frost/jackfrost.otf');
}
@media(min-width: 770px)
{
.navbar
{
    height: 80px;
}
.logo
{

transition: 0.5s;

}
.logo:hover
{
  transform: scale(1.2);
}
.w-lg-50
{
    width: 50% !important;
}
}

.jumbotron {
   margin-left: 0;
    margin-right:0;
    padding-left: 0;
    padding-right:0;
    padding-bottom: 0;
    background-color: #1884c6;
    background-image: url('../assets/divider.png');
    background-repeat: no-repeat;
    background-size: 100% 100px;
    background-position: bottom;
    color:floralwhite;
    border-radius: 0;
}

.navbar
{
  border-radius: 0;

}
.navbar-brand
{
  color: floralwhite;

}

.google-sans
{
  font-family: 'Open Sans', sans-serif;
   
}
.poppins{

  font-family: "Poppins", sans-serif !important;
}
.raleway
{
  font-family: 'Raleway', sans-serif !important;
}
.montserrat{
  font-family: 'Montserrat', sans-serif !important;
}
.navbar-light
{
  background-color: white;
}
.shadow
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow-sm-alt {
-webkit-box-shadow: -1px 0 8px -1px rgba(0,0,0,0.66) !important;
-moz-box-shadow: -1px 0 8px -1px rgba(0,0,0,0.66) !important;
box-shadow: -1px 0 8px -1px rgba(0,0,0,0.66) !important;
}

.row-content {
    margin:20px auto;
    padding: 50px 0 ;
    border-bottom: 1px ridge;
}
.nav-link
{
  transition: 0.3s;
  font-weight: 600;
  font-size: 18px;
  padding: 20px !important;

}
.onhover-bb {

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.onhover-bb:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  height: 2px;
  background-color: #1884c6;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.onhover-bb:hover,.onhover-bb:active{
  color:#1884c6!important;
}
.onhover-bb:hover:before, .onhover-bb:focus:before, .onhover-bb:active:before {
  left: 0;
  right: 0;
}
.text-orange{
color: #1884c6;
}
.v-center
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.h-center
{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.close
{
  border: 1px solid white;
}
.btn-light{
  background-color: white;
  color:#1884c6; 
  border:none;
  font-weight: bold;
  transition: 0.3s;
 }
 .btn-light.active{
  background-color: #333333;
  color: white; 
  transition: 0.3s;
 }
 .btn-light:hover{
  background-color: #333333;
  color: white; 
  transition: 0.3s;
 }
.btn-dark{
 background-color: #1884c6;
 color: white; 
 border:none;
 font-weight: bold;
 transition: 0.3s;
}
.btn-dark.active{
 background-color: #333333;
 color: white; 
 transition: 0.3s;
}
.btn-dark:hover{
 background-color: #333333;
 color: white; 
 transition: 0.3s;
}

.form-style{
  border: 1px solid black !important;
  background:#1884c6!important;
  margin-top:100px  !important; padding-top:1em !important;padding-bottom:3em !important;color:#fff;border-radius:10px;
  margin-left:auto !important; margin-right: auto !important;
}
.top-border
{
  height: 100px;
  background-image: url('../assets/images/top-border.svg');
  background-size: contain;
  background-repeat: repeat-x;
}
.table thead{
  background-color: #1884c6;
  color:white;
}
td{
  vertical-align: middle!important;
}
.box {
  position: relative;
  background: #ffffff;
  width: 100%;
}

.box-header {
  color: #444;
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
}

.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.dropzone-wrapper {
  border: 2px dashed #1884c6;
  color: #92b0b3;
  position: relative;
  height: 150px;
}

.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  width: 100%;
}

.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

.preview-zone {
  text-align: center;
}

.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}
.box-body{
border:1px solid #1884c6;
}

.circle-loader {
  margin-bottom: 3.5em;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-left-color: #1884c6;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 7em;
  height: 7em;
}
.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #1884c6;
  transition: border 500ms ease-out;
}
.checkmark {
  display: none;
}
.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
  opacity: 1;
  height: 3.5em;
  width: 1.75em;
  transform-origin: left top;
  border-right: 3px solid #1884c6;
  border-top: 3px solid #1884c6;
  content: '';
  left: 1.75em;
  top: 3.5em;
  position: absolute;
}
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.75em;
    opacity: 1;
  }
  40% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
  100% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
}
.hh-form input
{ 
border: none;
border-bottom: 1px solid #ccc;
border-radius: 0;
background-color: transparent;
transition: 0.3s;
}
.hh-form .form-control:focus {
   transition: 0.3s;
background-color: transparent;
    outline: none;
    box-shadow: none;
}

.hh-row  .icon-col{
transition: 0.3s;
}
.hh-row:focus-within .icon-col{
  color: #8f60de;
}
.hh-row:focus-within label {
  font-size: 12px;
  color: #8f60de;
}
.icon-input:focus{
  border-bottom:2px solid #8f60de !important;
}
.effect-17 ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #8f60de; transition: 0.4s;}
.effect-17:focus ~ .focus-border,
.has-content.effect-17 ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}

.has-content label {
  font-size: 12px;
  color: #8f60de;
}
.input-label{
  position: absolute;  width: 100%; top: -10px;transition: 0.3s;color: #aaa;
}
.info-icon{
    border-radius: 50%;
outline: none;
}
.info-icon:hover{
  transition: 0.3s;
background-color:#ff7850;
color:white; 
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.title {
    display: inline-block;
    font-size: 12px;
    padding: 10px 10px 0;
    text-transform: uppercase;
  }
  .value {
    font-size: 28px;
    padding: 0 10px;
  }

  .blue {
    background-color: #5da8d7;
  }
  
  .green {
    background-color: #66B92E;
  }
  
  .orange {
    background-color: #DA932C;
  }
  .table-hover tbody tr:hover{
    transition: 0.3s;
    background-color: #5da8d7;
    color:white;
    cursor: pointer;
  }

  #clock {
  color: #5da8d7;
  font-size: 40px;

}

.pause,.pause:focus,.pause:active{

  border:0 !important;
  outline: 0 !important;
}

