{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>

	  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"> 
    <link rel="stylesheet" type="text/css" href="../static/css/nstyles.css">
   <style>
    body{
      background: #fff no-repeat center center fixed;
      background-size: cover;
      
    }
  
   </style>


	
</head>
<body>

  <nav class="navbar navbar-light navbar-expand-md  shadow">
    <div class="container-fluid ">
  
                                <a class="navbar-brand logo" href="/"><img  src='../static/recognition/img/logo.png' height="40"  alt='logo' /> <span class="d-none d-md-inline-block poppins font-weight-bold" style="color: #1884c6;" >FRAT</span> </a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#Navbar">
<span class="navbar-toggler-icon"></span>
</button>
        <div id="Navbar" class="collapse navbar-collapse justify-content-between text-center">
          

        </div>
    
    </div>

</nav>


 <div class="col-lg-4" style="background:#1884c6;margin-top:100px ; padding-top:1em;padding-bottom:3em;color:#fff;border-radius:10px;-webkit-box-shadow: 2px 2px 15px 0px rgba(0, 3, 0, 0.7);
-moz-box-shadow:    2px 2px 15px 0px rgba(0, 3, 0, 0.7);
box-shadow:         2px 2px 15px 0px rgba(0, 3, 0, 0.7); margin-left:auto; margin-right: auto; ">

  <form method="POST" >
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4"> Log In </legend>
        {{form| crispy}}
      </fieldset>

      <div class="form-group">
        <button style="border-radius: 50px;" class="btn btn-light btn-pill w-100" type="submit"> Login <i class="fa fa-play"></i></button>
      </div>
    </form>

</div>





  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
       $(document).ready(
        function(){
           $.ajax({
                    
                    url:"/mark_your_attendance",
                          });
            $.ajax({
                     url:"/mark_your_attendance_out",
                          });
        }); 
    </script>
  </body>
  </html>